<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="style\form.css" />
  </head>
  <body>
    <div class="container">
      <div class="content first-content">
        <div class="first-column">
          <h2 class="title title-primary">Bem vindo de volta!</h2>
          <p class="description description-primary">
            Para se manter conectado conosco
          </p>
          <p class="description description-primary">
            por favor logue com suas informações pessoais
          </p>
          <button id="signin" class="btn btn-primary">Logar</button>
        </div>
        <div class="second-column">
          <h2 class="title title-second">Criar conta</h2>
          <p class="description description-second">
            Todos os campos são obrigatórios!
          </p>
          <form action="Cadastrar" method="post" class="form">
            <label class="label-input" for="name">
              <i class="far fa-user icon-modify"></i>
              <input
                type="text"
                name="nome"
                placeholder="Nome Completo"
                required
              />
            </label>
            <label class="label-input" for="endereco">
              <i class="far fa-address-book icon-modify"></i>
              <input
                type="text"
                name="endereco"
                placeholder="Endereço Completo"
                required
              />
            </label>
            <label class="label-input" for="telefone">
              <i class="fas fa-phone icon-modify"></i>
              <input
                type="tel"
                name="telefone"
                placeholder="Telefone para contato"
              />
            </label>
            <label class="label-input" for="tipoCliente">
              <i class="far fa-file icon-modify"></i>
              <select
                class="label-input-select"
                name="tipoCliente"
                id="tipoCliente"
                onchange="atualizarCampoDocumento()"
              >
                <option value=""></option>
                <option value="PF">CPF</option>
                <option value="PJ">CNPJ</option>
              </select>
            </label>

            <label class="label-input" for="documento">
              <i class="far fa-file icon-modify"></i>
              <input
                type="text"
                placeholder="Insira seu CPF"
                name="documento"
                id="documento"
                required
              />
            </label>
            <label class="label-input">
              <i class="fas fa-lock icon-modify"></i>
              <input type="password" placeholder="Senha" />
            </label>

            <button class="btn btn-second">Cadastrar</button>
          </form>
        </div>
      </div>
      <div class="content second-content">
        <div class="first-column">
          <h2 class="title title-primary">Olá Cliente!</h2>
          <p class="description description-primary">
            Insira seus dados pessoais
          </p>
          <p class="description description-primary">
            e de início a sua jornada conosco!
          </p>
          <button id="signup" class="btn btn-primary">cadastrar</button>
        </div>
        <div class="second-column">
          <h2 class="title title-second">Logar na sua conta</h2>
          <p class="description description-second">
            Insira seu CPF ou CNPJ e senha
          </p>
          <form class="form">
            <label class="label-input" for="documento">
              <i class="far fa-file icon-modify"></i>
              <input type="text" id="documentoLogin" placeholder="Documento" />
            </label>
            <label class="label-input" for="senha">
              <i class="fas fa-lock icon-modify"></i>
              <input type="password" placeholder="Senha" />
            </label>
            <a class="password" href="#">Esqueceu sua senha?</a>
            <button class="btn btn-second">Logar</button>
          </form>
        </div>
      </div>
    </div>

    <script src="script/script.js"></script>
  </body>
</html>