<main>
    <body>
      <div class="container">
        <h2>Cadastro de Cliente</h2>
        <form action="cadastrar" method="post">
          <label for="nome">Nome:</label>
          <input type="text" id="nome" name="nome" required />

          <label for="endereco">Endereço:</label>
          <input type="text" id="endereco" name="endereco" required />

          <label for="telefone">Telefone:</label>
          <input type="tel" id="telefone" name="telefone" required />

          <label for="tipoCliente">Tipo de Cliente:</label>
          <select
            id="tipoCliente"
            name="tipoCliente"
            required
            onchange="atualizarCampoDocumento()"
          >
            <option value="">Selecione</option>
            <option value="PF">Pessoa Física</option>
            <option value="PJ">Pessoa Jurídica</option>
          </select>

          <label for="documento" id="labelDocumento">CPF:</label>
          <input type="text" id="documento" name="documento" required />

          <button type="submit">Cadastrar</button>
        </form>
      </div>

        <button ><a href="/views/teste.handlebars">click</a></button>
      <script>
        function atualizarCampoDocumento() { const tipoCliente =
        document.getElementById("tipoCliente").value; const labelDocumento =
        document.getElementById("labelDocumento"); const campoDocumento =
        document.getElementById("documento"); if (tipoCliente === "PF") {
        labelDocumento.textContent = "CPF:"; campoDocumento.placeholder =
        "Digite o CPF"; campoDocumento.setAttribute("pattern", "\\d{11}");
        campoDocumento.title = "CPF deve conter 11 dígitos numéricos"; } else if
        (tipoCliente === "PJ") { labelDocumento.textContent = "CNPJ:";
        campoDocumento.placeholder = "Digite o CNPJ";
        campoDocumento.setAttribute("pattern", "\\d{14}"); campoDocumento.title
        = "CNPJ deve conter 14 dígitos numéricos"; } else {
        labelDocumento.textContent = "CPF ou CNPJ:"; campoDocumento.placeholder
        = ""; campoDocumento.removeAttribute("pattern"); } }
      </script>

    </body>

  </html>

</main>